*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Be Vietnam Pro', sans-serif;
}


/* COMMON CLASES  */
    /* Display */
.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.just-cent{
    justify-content: center;
}
.just-bet{
    justify-content: space-between;
}
.just-arr{
    justify-content: space-around;
}
.just-eve{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.alig-cent{
    align-items: center;
} 
.hidden-lg{
    display: none;
}
.hidden-sm{
    display: unset;
}
    /* Colors */
.bg-primary{
    background-color: #8B48BF;
}
.bg-secondary{
    background-color: rgba(249, 249, 249, 1);
}
.bg-switch{
    background-color: #8B48BF;
}

    /* Links */
.links{    
    list-style: none;    
} 
.links a{
    text-decoration: none;
    color: rgba(36, 46, 82, 1);
}
.links a:hover{
    color: rgba(36, 46, 82, 0.6);
    cursor: pointer;
}

    /* Buttons */
.button{
    
    width: 134px;
    height: 44px;
    border-radius: 50px;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.button:hover{
    background-color: rgba(139, 72, 191, 0.7);
    cursor: pointer;
    
}

.button-rev{
    color: rgba(139, 72, 191, 1);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    margin-left: 538px;
    transition: 0.3s;
}
.button-rev:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;    
}

.button-num{
    height: 43px;
    width: 70px;
    border-radius: 30px;
    font-weight: 700;
    line-height: 23px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    border: none;    
}

/* SECTION HEADER */

.header{
    height: 174px;
    width: 1440px;

}
.logo{
    height: 25px;
    width: 108px;
}
.navbar-top{
    width: 397px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;    
}

/* SECTION BANNER */

.banner-sec-left{
    width: 540px;
    height: 460px;
}

.banner-sec-right{
    width: 551px;
    height: 460px;
    padding-left: 100px;
    text-align: end;
    align-items: flex-end;
}
.title-banner{
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -0.035em;
    color: rgba(35, 44, 80, 1);
}
.text-banner{
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
}

/* SECTION INFO */

.info-section{
    margin-top: 96px;
}
.info-sec-top{
    height: 168px;
    color: rgba(255, 255, 255, 1);
}
.ist-title, .ist-text{
    height: 88px;
    width: 450px;
    margin: 0 50px;
}
.ist-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;   
}
.ist-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.info-sec-bttm{
    height: 428px;
    padding: 40px 0;
} 
.info-card{
    width: 530px;
    height: 162px;
    margin: 0 25px;
}
.info-card p{
    height: 104px;
    width: 437px;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    color: rgba(179, 178, 183, 1);
    margin-left: 93px;
}
.info-card span{
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.015em;
    color: rgba(50, 56, 81, 1);
    padding-left: 20px;
}

/* SECTION PLAYERS */

.players-section{
    height: 755px;
}
.players-section h3{
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 61px;
    letter-spacing: -0.01em;
    color: #242E53;
    text-align: center;
    margin-top: 97px;

}
.card{
    height: 220px;
    width: 426px;
    margin-top: 109px;
    margin-bottom: 45px;
    position: relative;
}
.card-body{
    text-align: center;
}
.card-body span{
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #3F4868;

}
.card-body p{
    width: 403px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #B9B9C1;
    
}
.card-image{
    position: relative;
    top:-35px;
}

/* SECTION BOTTOM BANNER */

.bottom-banner{
    height: 224px;
}
.bottom-banner h3{
    height: 96px;
    width: 410px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    margin-left: 165px;
}


/* SECTION FOOTER */

.footer{
    background-color: #1E1E26;
    color: #FFFFFF;
    height: 247px;
}
.logo-ftr{
    height: 25px;
    width: 108px;
}
.soc-netw{
    height: 128px;
    width: 154px;
    flex-flow: column;
    margin-top: 54px;
}
.icons a{
    transition: 0.5s;
}
.icons a:hover{
    transform: scale(1.2);    
    cursor: pointer;
}

.navbar-ftr-cntr{
    margin-top: 52px;
}
.navbar-bttm{
    height: 128px;
    width: 392px; 
}
.navbar-bttm li a{
    font-weight: 200;
    font-size: 16px;
    line-height: 23px;
    color: rgba(255, 255, 255, 1);
}
.navbar-bttm li a:hover{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.navbar-bttm-left{
    height: 128px;
    width: 105px;
}
.navbar-bttm-right{
    height: 93px;
    width: 120px;
}

.form{
    height: 128px;
    width: 273px;
    margin-top: 56px;
}
.input{
    height: 44px;
    width: 201px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 13.1806px;
    line-height: 19px;
    color: rgb(160, 160, 160);
    padding-left: 10px;
}
.btn-form{
    height: 42px;
    width: 63px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
}
.btn-form:hover{
    background-color: rgba(139, 72, 191, 0.7);
    cursor: pointer;
}
.copyright{
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
    flex-flow: row-reverse;
    margin-right: 165px;
}


                    /* MEDIA QUERIES */

@media (max-width:480px)  {

 /* COMMON CLASES  */
    /* Display */   
    .hidden-lg{
        display: unset;
    }
    .hidden-sm{
        display: none;
    }
    .card-hidden{
        display: none;
    }
    /* Colors */
    .bg-switch{
        background-color: rgba(60, 221, 243,1);
    }

    /* SECTION HEADER */
    .header{
        height: 60px;
        width: 480px;
        margin-top: 40px;
        align-items: center;
    }
    .menu-icon{
        height: 41px;
        width: 47px;
    }

    /* SECTION BANNER */
    .banner{
        flex-direction: column;
        align-items: center;
    }
    .title-banner, .text-banner{
        width: 402px;
    }
    .banner-sec-left{
        height: 342px;
        width: 400px;
        margin-top: 64px;
    }
    .banner-sec-left img{
        height: 342px;
        width: 400px;
    }
    .banner-sec-right{
        height: 400px;
        width: 400px;
        margin-top: 100px;     
    }

    /* SECTION INFO */
    .info-sec-top{
        height: 306px;
        flex-direction: column;
        justify-content: start;
    }
    .ist-title, .ist-text {
        height: 80px;
        width: 440px;
        margin-top: 40px;
    }
    .info-sec-bttm{
        height: 682px;
        width: 446px;
        margin-left: 32px;
        justify-content: space-between;
        padding: 0;
        margin-top: 65px;
        background-color: rgba(255, 255, 255, 1);
    }
    .info-card{
        width: 446px;
        height: 214px;
        margin: 0;
    }
    .info-card p{
        height: 130px;
        width: 408px;
        margin-left: 10px;
        margin-top: 21px;
    }
    .info-card-title{
        background-color: rgba(139, 72, 191, 0.3);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
   
    /* SECTION PLAYERS */

    .players-section{
        height: 580px;
    }
    .players-section h3{
        margin-top: 68px;
    
    }
    .bottom-banner{
        height: 366px;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 58px;
    }

    /* SECTION BOTTOM BANNER */
    .bottom-banner h3{
        height: 192px;
        width: 324px;
        font-weight: 700;
        margin-left: 0;
        text-align: center;
    }
    .button-rev{
        color: rgba(255, 255, 255, 1);
        background-color: rgba(35, 44, 80, 1);
        margin-left: 0;
    }
    .button-rev:hover{
        background-color: rgba(35, 44, 80, 0.7);
        cursor: pointer;
    }

    /* SECTION FOOTER */
    .footer{
        height: 535px;
        align-items: center;
    }
    .footer-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .navbar-bttm{
        height: 141px;
        width: 324px;    
    }
    .form{
        height: 45px;
        width: 391px;
        margin-top: 53px;
    }
    .soc-netw{
        height: 92px;
        width: 380px;
        flex-flow: column-reverse;
        margin-top: 45px;
    }
    .logo-ftr{
        align-self: center;
    }
    .input{
        width: 308px;
    }
    .copyright{
        margin: 0;
        margin-top: 40px;
        align-self: center;
    }
}